
html,body{
  margin:0; 
  padding: 0;
 height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f4f5f5;
  
  box-sizing: border-box;

}

P{
  margin:0;
}

a {
  color: #00B7FF;
}
h2,.default-corlor{
  color: #71777c;
}
.red{
  color: red;
}
.container{
 
  height: 100%; 
  /* background:#ff0000; */
}
.register-main p.error, .login-main p.error{
  color: red;
}
.error-tip{
  font-size: 14px;
}
/*  head*/
#menu{
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  color: #888;
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #f1f1f1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
 box-sizing: border-box;
}
#menu .left{
  font-size: 25px;
  color: #16a085;
  text-shadow: 0 0 .1em, 0 0 .3em;
}
#menu .name:after{
  content: '-';
}
#menu a, #menu span{
  text-decoration: none;
  margin-left: 20px;
  color: #71777c;
  font-size: 16px;
}
#menu a:hover{
  color: #16a085;
}

/* #photos{
  background-color: #fff;
} */
.main, .login-main, .register-main, .upload-main{
  /* width: 70%; */
  position: absolute;
  top: 70px;
  left:50px;
  
  /* background-color: #CC00FF; */
  box-sizing: border-box;
}
.main h2, .login-main h2, .register-main h2, .upload-main h2{
  font-size: 24px;
  margin-top: 20px;
  font-weight: normal;
  box-sizing: border-box;
}

/* 图片上传--- */
.copy-link{
  max-width: 350px;

  display: inline-block;
  overflow-x: scroll;
  background-color: #f4f5f5;
  border: 1px solid #e8ebeb;
  padding: 5px 10px;
  /* box-sizing: border-box; */
}
.photos-list{
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;

}

.photo-info{
 display: flex;
 /* flex-direction: row;
 justify-content:flex-start; */
 font-size: 14px;
}
.photo-info-img{
 
}
.photo-info-link{
  font-size: 14px;
  margin-left: 10px;

}
.photo-info-link-path{
 width: 100%;
 box-sizing: border-box;
 display: flex;
 flex-direction: column;
}
.photo-info-link-path button.btn{
  width: 100px;
  margin-top: 10px;
}
.photo-info-link-path, .photo-info-link-path p{
  font-size: 14px;
  margin-top: 10px;
}
.photo-info-link-copy{
  margin-top: 10px;
}
button.btn{
  padding:  5px 10px;
  margin-left: 10px;
  font-weight: normal;
}
button.btn:hover, .btn:hover{
  color: #fff;
  border: 1px solid #16a085;
}


.photo{
  width: 45%;
  display: inline-block;
  margin:  5px;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 0 1px 2px #ddd;
  background-color: #fff;
}
.photo h2{
  margin: 0;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 200;
}
.photo img{
 /* max-width: 160px; */
 width: 100px;
 height: 100px;
}
.btn{
  color: #fff;
  background-color: #16a085;
  border: 1px solid #16a085;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  padding: 5px 10px;
}
input[type="file"] {
  -webkit-appearance: initial;
  background-color: initial;
  cursor: default;
  align-items: baseline;
  color: inherit;
  text-align: start !important;
  padding: initial;
  border: initial;
}
.photo-name{
  display: block;
  width: 200px;
 
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.photo-image{
 margin-left: 5px;
}
.error{
  color: red;
}
p.error{
  color: red;
}
/* logo字体样式 */
.text{
  background-image: -webkit-linear-gradient(left,blue,#66ffff 10%,#cc00ff 20%,#CC00CC 30%, #CCCCFF 40%, #00FFFF 50%,#CCCCFF 60%,#CC00CC 70%,#CC00FF 80%,#66FFFF 90%,blue 100%);
  -webkit-text-fill-color: transparent;/* 将字体设置成透明色 */
  -webkit-background-clip: text;/* 裁剪背景图，使文字作为裁剪区域向外裁剪 */
  -webkit-background-size: 200% 100%; 
  -webkit-animation: masked-animation 4s linear infinite;
  font-size: 35px;
}
@keyframes masked-animation {
  0% {
      background-position: 0  0;
  }
  100% {
      background-position: -100%  0;
  }
}
 /* #menu .bottom{
   font-weight:bold;color:#07c160;
   text-shadow:0 0 1px currentColor,
    2px  0   1px #083058,  0   2px  1px #98c0e8,  2px  1px  1px #083058,  1px  2px  1px #98c0e8,  2px  2px  1px #487098,
    3px  1px 1px #083058,  1px 3px  1px #98c0e8,  3px  2px  1px #083058,  2px  3px  1px #98c0e8,  3px  3px  1px #487098,
    4px  2px 1px #083058,  2px 4px  1px #98c0e8,  4px  3px  1px #083058,  3px  4px  1px #98c0e8,  4px  4px  1px #487098,
    5px  3px 1px #083058,  3px 5px  1px #98c0e8,  5px  4px  1px #083058,  4px  5px  1px #98c0e8,  5px  5px  1px #487098,
    6px  4px 1px #083058,  4px 6px  1px #98c0e8,  6px  5px  1px #083058,  5px  6px  1px #98c0e8,  6px  6px  1px #487098,
    7px  5px 1px #083058,  5px 7px  1px #98c0e8,  7px  6px  1px #083058,  6px  7px  1px #98c0e8,  7px  7px  1px #487098,
    8px  6px 1px #083058,  6px 8px  1px #98c0e8,  8px  7px  1px #083058,  7px  8px  1px #98c0e8,  8px  8px  1px #487098,
    9px  7px 1px #083058,  7px 9px  1px #98c0e8,  9px  8px  1px #083058,  8px  9px  1px #98c0e8,  9px  9px  1px #487098,
    10px 8px 1px #083058,  8px 10px 1px #98c0e8,  10px 9px  1px #083058,  9px  10px 1px #98c0e8,  10px 10px 1px #487098,
    11px 9px 1px #083058,  9px 11px 1px #98c0e8,  11px 10px 1px #083058,  10px 11px 1px #98c0e8,  11px 11px 1px #487098,
    11px 11px 1px #666,
    11px 12px 1px #666,
    10px 12px 1px #666,
    9px 12px 1px #666,
    8px 11px 1px #666,
    7px 10px 1px #666,
    6px 9px 1px #666,
    5px 8px 1px #666,
    4px 7px 1px #666,
    3px 6px 1px #666,
    2px 5px 1px #666,
    1px 4px 1px #666,
    0 3px 1px #666,
    -1px 2px 1px #666,
    20px 8px 8px rgba(0, 0, 0, 0.7)
  } */
    /* #menu   .bottom:before,.bottom:after{content:''}
    #menu  .bottom:before{color:rgb(40,80,120);text-shadow:0 0 1px currentColor,-1px -1px 1px #003,0 -1px 1px #003,1px -1px 1px #003,1px 0 1px #003,1px 1px 1px #003,0 1px 1px #003,-1px 1px 1px #003,-1px 0 1px #003}
    #menu  .bottom:after{color:rgba(40,80,120,.1);text-shadow:1px -1px 1px rgba(40,80,120,.8),-1px 1px 1px rgba(255,255,255,.8)} */
/* 登录 */
.login-main-form{
  margin-top: 20px;
}
.login-main h2{

}
.login-main p{
  margin-left: 20px;
  color: #71777c;
  font-size: 16px;
}

.login-main p:nth-of-type(2), .login-main p:nth-of-type(3){
  margin-top: 20px;
 }
 .login-main .btn{
   padding: 8px 15px;
 }
 /* 注册 */
 .register-main-form{
  margin-top: 20px;
}
.register-main h2{
 /* font-weight: normal; */
}
.register-main p{
  margin-left: 20px;
  color: #71777c;
  font-size: 16px;
}
.register-main p:nth-of-type(2), .register-main p:nth-of-type(3),
.register-main p:nth-of-type(4), .register-main p:nth-of-type(4), .register-main p:nth-of-type(5)
{
  margin-top: 20px;
 }
 .register-main .btn{
  padding: 8px 15px;
}
/* upoad */

.upload-main p{
  margin-left: 20px;
  color: #71777c;
  font-size: 16px;
}
.upload-main p:nth-of-type(1), .upload-main p:nth-of-type(2), .upload-main p:nth-of-type(3){
  margin-top: 20px;
 }
 .upload-main .btn{
  padding: 8px 15px;
  font-weight: normal;
}


