<div id="footer" class="footer">
    <p> 
        <a href="https://www.cnblogs.com/pikachuworld/">博客园</a>|
        <a href="https://github.com/">github</a>|
        <a href="https://www.cnblogs.com/pikachuworld/">友情链接</a>
    </p>
    <p>京ICP备20023597号-1</p>
</div>