<div id="footer" class="footer">
    <p> 
        <a href="https://www.cnblogs.com/pikachuworld/" target="_blank">博客园</a>|
        <a href="https://github.com/"  target="_blank">github</a>|
        <a href="https://www.cnblogs.com/pikachuworld/"  target="_blank">友情链接</a>
    </p>
    <p>京ICP备20023597号-1</p>
</div>