
    <!-- <h1><%= title %></h1> -->
    <!-- <p>Welcome to messages</p> -->
    <% if (locals.messages) { %>
      <% messages.forEach(function(message) { %>
        <p class='<%= message.type %>'> <%= message.string %> </p>
      <% }) %>
      <% removeMessages() %>
    <% } %>
