<div id='pager' class="pager-contain">
 <% if (page.count > 1) { %>
    <% if (page.number) { %>
        <a id='prev' href='/<%= page.number %>'>  上一页 </a>
    <% } %>
    <% if (page.number < page.count -1 ) { %>
        <% if (page.number) { %> 
            &nbsp;&nbsp;
        <% } %>
        <a id='next' href='/<%= page.number + 2 %>'>  下一页 </a>
    <% } %>
  <% } %>

</div>