<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include menu %>
    <p>欢迎来到注册页面</p>
     <% include messages %>
    <form action='/register' method='post'>
        <p>
            <label class="" for="">姓名:</label>
            <input type="text" name='name' class="photo-name" placeholder='请输入用户名'/>
        </p>
        <p>
            <label class="" for="">密码:</label>
            <input type="password" name='pass' class="photo-name" placeholder='请输入密码' />
        </p>
        <p>
            <label class="" for="">手机:</label>
            <input type="text" name='iphone' class="photo-name" placeholder='请输入手机号' />
        </p>
        <p>
          <label class="" for="">邮箱:</label>
          <input type="text" name='email' class="photo-name" placeholder='请输邮箱' />
        </p>
        <p> 
            <input type="submit"   class="btn photo-upload" value='注册'/>
        </p>
    </form>
  </body>
</html>
