<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>上传图片</p>
    <form  method='post' enctype="multipart/form-data">
        <p> <input type="text" class="photo-name" name='photoName' placeholder="name" /></p>
        <p><input type="file" class="photo-image" name='photoImage' /></p>
        <p><input type="submit"  class="btn photo-upload" value="Upload" /></p>
    </form>
     
  </body>
</html>
