<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/plug/particleground/css/style.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('../menu') %>
    <div id="particles" class="particles"> </div>
    <div class="upload-main">
      <h2><%= title %></h2>
      <form class="upload-main-form" id="uploadForm" method='post' enctype="multipart/form-data">
        <p> 
          
          <label class="" for=""> <span class="red">*</span>文件名:</label>
          <input type="text" class="photo-name validate" name='photoName' txt="请输入文件名" placeholder="请输入文件名" />
          <span id="photoNameError" class="error-tip red" ></span>
        </p>
        <p>
          <label class="" for=""> <span class="red">*</span>上传图片:</label>
          <input type="file" class="photo-image validate" txt="请上传图片" name='photoImage' />
          <span id="photoImageError" class="error-tip red" ></span>
        </p>

        <p>
          <input type="hidden"  name='uploadTime' id="uploadTime"   value="" />
          <input type="submit" id="uploadSubmit"  class="btn photo-upload" value="上传" />
        </p>
    </form>
    </div>
   
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script type='text/javascript' src='/plug/particleground/jquery.particleground.min.js'></script>
    <script type='text/javascript' src='/plug/particleground/parGround.js'></script>
    
     
  </body>
</html>
